@font-face {
    font-family: 'zocial';
    src: url('../font/zocial.eot');
    src: url('../font/zocial.eot#iefix') format('embedded-opentype'),
         url('../font/zocial.woff') format('woff'),
         url('../font/zocial.ttf') format('truetype'),
         url('../font/zocial.svg#zocial') format('svg');
    font-weight: normal;
    font-style: normal;
}
 .icon:before, .icon:before {
  font-family: "zocial";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
/*.duckduckgo:before { content: '\0021'; }
.paypal:before { content: '\0024'; }
.android:before { content: '\0026'; }
.smartphone:before { content: '\0028'; }*/
.gplus:before { content: '\002B'; }
/*.calendar:before { content: '\002E'; }
.px500:before { content: '\0030'; }
.pinterest:before { content: '\0031'; }
.w3c:before { content: '\0033'; }
.html5:before { content: '\0035'; }
.phone:before { content: '\0037'; }
.grooveshark:before { content: '\0038'; }
.share:before { content: '\003C'; }
.cc:before { content: '\0043'; }*/
.flickr:before { content: '\0046'; }
/*.google:before { content: '\0047'; }
.linkedin:before { content: '\004C'; }
.disqus:before { content: '\0051'; }*/
/*.rss:before { content: '\0052'; }*/
/*.skype:before { content: '\0053'; }*/
.twitter:before { content: '\0054'; }
/*.youtube:before { content: '\0055'; }
.vimeo:before { content: '\0056'; }
.mail:before { content: '\005D'; }
.amazon:before { content: '\0061'; }
.dropbox:before { content: '\0064'; }
.ebay:before { content: '\0065'; }*/
.facebook:before { content: '\0066'; }
/*.git:before { content: '\0067'; }
.lastfm:before { content: '\006C'; }
.gmail:before { content: '\006D'; }*/
.tumblr:before { content: '\0074'; }
/*.cart:before { content: '\00C9'; }
.print:before { content: '\00D1'; }*/
.github:before { content: '\00E8'; }
/*.bitbucket:before { content: '\00E9'; }
.stackoverflow:before { content: '\00EC'; }*/
