@charset "UTF-8";
body {
  background-color: #D9E2F8;
  font-family: 'Droid Sans', serif;
  font-size: 1.125em;
  -webkit-font-smoothing: antialiased;
}
/* Sticky footer */
html, body {
  height: 100%;
}
#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  max-width: 800px;
  margin: 0 auto -4em;
  padding: 0em 2em;
}
#footer, .push { clear:both; min-height: 4em;}
/* Links. */
a { /* Generic link styling, greyish and underlined. */
    color: #2E2E2E;
    text-decoration: none;
    -o-transition:color .4s ease-in-out;
    -webkit-transition:color .4s ease-in-out;
    -moz-transition:color .4s ease-in-out;
    transition:color .4s ease-in-out;
}
a:hover { /* transition to orange on hover */
    -o-transition:color .4s ease-in-out;
    -webkit-transition:color .4s ease-in-out;
    -moz-transition:color .4s ease-in-out;
    transition:color .4s ease-in-out;
    color: #1566F4;
}
.notransition, .notransition:hover { /* links without transition */
  -o-transition:none;
  -webkit-transition:none;
  -moz-transition:none;
  transition:none;
}
.article a {
  color: #264DBD;
  font-variant: small-caps;
  font-weight: bold;
}
.article a:hover, .article a:active {
  border-bottom: 2px dotted black;
}
/* Site header */
.maintitle {
    font-family: 'Lusitana', serif;
    font-size: 4em;
    padding-left: .14em;
    position: relative;
    left: -.14em;
}
.sitebanner {
  margin-top: .833em;
}
.siteheader {
    height: 11.12em;
    margin-bottom: 1.67em;
    overflow: visible;
}
.sitesubtitle {
    color: #2F8EF3;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.2em;
    margin-top: 0em;
    text-shadow: 0em 0em .05em #3780BE;
}
/* The social navbar. */

.socialmenu {
    font-size: 1.5em;
}
.socialitem {
    display: inline;
}
.icon {
  line-height: 1.5em; /* for icon separation in small windows */
}
.gplus, .gplus:hover { color: #CB4534;}
.flickr, .flickr:hover { color: #EA0079;}
.linkedin, .linkedin:hover { color: #128CAE;}
.rss, .rss:hover { color: #EF7723;}
.twitter, .twitter:hover { color: #41B1E7;}
.lastfm, .lastfm:hover { color: #CB1820;}
.gmail, .gmail:hover { color: #FF0000;}
.tumblr, .tumblr:hover { color: #45576C;}
.github, .github:hover { color: #050505;}
.bitbucket, .bitbucket:hover { color: #1E4C7A;}

/* effects to social menu links */
.social:hover { /* Hover animation: flip */
    display: inline-block;
    position: relative; /* position needed for the animation */
    /* animation (infinite flip) */
    -moz-animation:flip 1500ms steps(19) infinite; /*Firefox*/
    -webkit-animation:flip 1500ms steps(19) infinite; /*Safari and Chrome*/
    -o-animation:flip 1500ms steps(19) infinite; /*Opera*/
    animation:flip 1500ms steps(19) infinite;
  }
/* socialmenu icon flip animation */
@-moz-keyframes flip /*Firefox*/
{
from {left:0;}
to {left:0;-moz-transform:rotateY(-360deg)}
}
@-webkit-keyframes flip /*Safari and Chrome*/
{
from {left:0;}
to {left:0;-webkit-transform:rotateY(-360deg)}
}
@-o-keyframes flip /*Opera*/
{
from {left:0;}
to {left:0;-o-transform:rotateY(-360deg)}
}
@keyframes flip
{
from {left:0;}
to {left:0;transform:rotateY(-360deg)}
}
/* The site navbar. */
.sitemenu {
    clear: both;
    float: right;
    font-size: 1.5em;
    margin-top: 1em;
}
.siteitem {
    display: inline-block;
    margin: 1em .37em 1em 0em;
    position: relative;
    right: 0em;
}
/* sitemenu links with effects */
.sitelink { /* site menu links, with color transition */
    background: #E8EA70;
    display: inline-block; /* needed for transforms */
    float: right;
    font-weight:bold;
    padding: .185em;
    text-decoration: none;
    /* transition */
    color: #2E2E2E;
}
.tape {
  /* rotation and skew to simulate sticky tape*/
    -moz-transform:rotate(-20deg) skewX(-20deg);
    -webkit-transform:rotate(-20deg) skewX(-20deg);
    -o-transform:rotate(-20deg) skewX(-20deg);
    transform:rotate(-20deg) skewX(-20deg);
}
.sitelink:hover { /* transition to red on hover */
    color: #C42E3F;
}
/* Article list on index page. */
.posttitle {
   color: #227EAD;
    font-size: 1.8em;
    font-style: oblique;
    font-weight: bold;
    margin-left: -.35em;
}
.posttitle:hover {
  color: #0F84FA;
}
.readmore, .readmore:hover {
  color: #E3F1F7;
}
.readmore {
    border-radius: .5em;
    display: inline-block;
    background-color: #6AC6F5;
    line-height: 1.5em;
    text-decoration: none;
    padding: .5em 1em;
    font-size: .75em;
    font-weight: bold;
    font-variant: small-caps;
    box-shadow: .5em .3em 1.5em .05em rgba(56,56,56,.3);
}
.readmore:hover {
    background-color: #522F91;
    background: linear-gradient(to bottom,#0F92FA,#0F84FA);
}
.postinfo {
    margin-top: .6em;
    margin-bottom: .8em;
    color: #666;
    font-size: .7em;
}
.post {
    border-bottom: 2px dashed #B2C6F6;
    float: left;
    list-style: none;
    margin-bottom: 1.11em;
    padding-bottom: 1em;
    width: 100%;
}
.postsummary {
    float: left;
    font-weight: 300;
    padding-top: 1em;
    width: 100%;
}
.psummary {
    margin-bottom: 1em;
}
/* pagination */
.paginator {
  display: inline-block;
  font-family: Helvetica, sans-serif;
}
.pagitem {
  display: inline;
}
.paglink {
  background-color: #C5EEAA;
  border: transparent;
  box-shadow: inset 0em 0em .2em .025em #7EC650;
  color: #2E5613;
  display: inline-block;
  float: left;
  padding: .5em;
}
.paglink.active, .paglink:hover {
  background-color: #AADF88;
  box-shadow: inset 0em 0em .2em .025em #7EC650;
}
.paglink.disabled, .paglink.disabled:hover {
  background-color: #DBEDD1;
  color: #8BBE6D;
  cursor: not-allowed;
}
.arrow {
  font-weight: bold;
  border-radius: 0em .5em .5em 0em;
}
.pagitem:first-child .arrow {
  border-radius: .5em 0em 0em .5em;
}
/* Generic to all content. */
#postlist {
    float: left;
    padding-left: .5em;
    padding-bottom: 1.11em;
    width: 100%;
}
.content {
  clear: both;
  font-size: .9em;
  margin-bottom: 2em;
}
/* Make super and subscripts look reasonable. */
sup, sub {
    vertical-align: 0em;
    position: relative;
}
sup {
    bottom: 1ex;
    font-size: .6em;
}
sub {
    top: .8ex;
    font-size: .6em;
}
/* Article */
.article {
    margin-top: 1.67em;
}
/* Lists */
ul.simple, ol.simple {
  left: 2.2em;
  padding-bottom: 1.11em;
  position: relative;
  right: 2.2em;
}
.simple li {
    line-height: 1.1em;
    margin-top: .3em;
    margin-bottom: .3em;
}
/* Paragraphs. */
.content p, .postsummary p { /* post article and summary article */
    color: #133342;
    line-height: 1.3em;
    margin-bottom: 1.2em;
}
/* Headers. */
h1, h2, h3 {
  font-family: Palatino,"Palatino Linotype",Georgia,serif;
}
.article h2 a {
  font-variant: normal;
}
.article h1 {
    padding-bottom: 1em;
    font-size: 1.6em;
}
.article h2 {
    padding-bottom: .9em;
    font-size: 1.4em;
}
.article h3 {
    padding-bottom: .8em;
    font-size: 1em;
}
/* Footnotes. */
.article .footnote {
    font-size: .8em;
}
/* Code */
.codehilite, .highlight { /* Put code blocks in the right place. */
    border: 1px solid grey;
    border-radius: 5px;
    clear: both;
    margin-bottom: 1.12em;
    max-width: 800px;
}
.highlight pre { /* block code */
    font-family: 'Inconsolata', sans-serif;
    font-size: .95em;
    margin: auto;
    padding: 1em;
    /* for pre, to allow fluid width change, breaking lines in any place
    */
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
.article code { /* inline code */
    background-color: #F3F3F3;
    border: 1px solid #A9AAAF;
    border-radius: .2em;
    color: #289539;
    font-family: 'Inconsolata', sans-serif;
    font-size: .9em;
    padding: .1em .2em;
}
/* Tags */
/* Tags at article */
.article + .tags {
  padding: .5em 0em 1em 0em;
}
.tag {
  display: inline-block;
  position: relative;
  left: 0em;
  margin: .3em;
}
.taglink {
  background: #EEE;
  border-radius: 1em;
  padding: 0 1em;
  margin: 0em;
}
.tag:nth-child(2n+1) a {
  color: #2D85F2;
}
.tag:nth-child(2n) a {
  color: #C051D6;
}
.tag:nth-child(2n+1) a:hover, .tag:nth-child(2n+1) a:active {
  background: #2D85F2;
  color: #EEE;
}
.tag:nth-child(2n) a:hover, .tag:nth-child(2n) a:active {
  background: #C051D6;
  color: #EEE;
}
/* Tag Cloud */
.tagcloud {
  float: left;
  list-style: none;
  margin: 4em auto;
  text-align: center;
  width: 100%;
}
.clouditem {
  display: inline-block;
  padding: .3em .6em;
}
.tag-4 {
  font-size: 75%;
}
.tag-2 {
  font-size: 100%;
}
.tag-1 {
  font-size: 150%;
}
.tag-0 {
  font-size: 230%;
}
.cloudlink {
  font-weight: bold;
  color: #222FA0;
}
.cloudlink:hover, .cloudlink:active {
  color: #EA6F11;
}
/* Responsive Images */
/* Styles for Figures & Images */
.postimg {
    border: 2px solid #F1F5FB;
    border-radius: 3px;
    padding: 4px;
    float: left;
    margin: 1em 1em 1em 0;
    box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);
}
.align-right {
    float: right;
    margin: 1em 0 1em 1em;
}
.figure {
    background: #98BFFA;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 4px;
    float: left;
    margin: 0 1em 1em 0;
    box-shadow: 4px 4px 4px 0px rgba(128, 128, 128, 0.5);
}
.figure.align-right {
    float: right;
    margin: 0 0 1em 1em;
}
.figure.align-left {
    float: left;
}
.figure .postimg {
    padding: 0;
    margin: 0;
    margin-left: -2px;
    box-shadow: none;
}
.figure .caption {
    color: #173280;
    margin: 0;
    font-size: 80%;
    padding: 4px;
    float: left;
    text-align: left;
}
.figure .legend {
    padding: 4px;
    font-size: 80%;
    color: #0024FF;
    font-style: italic;

    float: left;
}
/* Blockquotes */
.article > blockquote {
    clear: both;
    color: #2B39B8;
    font-family: Palatino,"Palatino Linotype",Georgia,serif;
    font-size: 1.15em;
    font-style: oblique;
    margin: 2.5em 0em 2.5em 1.85em;
    padding-left: .62em;
}
.article > blockquote::before {
  color: #293184;
  content: "❠";
  display: inline-block;
  font-size: 3em;
  font-weight: normal;
  float: left;
  margin-top: -.5em;
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
}
.article > blockquote::after {
  color: #293184;
  content: "❠"; /*\2760*/
  display: inline-block;
  float: right;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: .5em;
}
/* Shadows */
.codehilite, .highlight, .parts {
  border-collapse: separate; /* to get box-shadow in IE9 and later */
  box-shadow: .4em .4em .9em  #CCC;
}
/* Selected text */
::-moz-selection {
  background: #B1353C;
  color: #FFF;
}
::selection {
  background: #B1353C;
}
/* PLUGIN STYLES */
/* Multiparts */
#parts {
  background: #F0E99E;
  border-radius: 1em;
  font-weight: bold;
  max-width: 400px;
  padding: 1em;
}
#parts > p:first-child {
  color: #D45822;
  padding-bottom: 1em;
}
#partslist {
  list-style-type: none;
}
.partlink{
  color: #272822;
  font-family: 'Inconsolata', sans-serif;
}
.partlink:hover, .partlink:active {
  color: #6622D0;
}
/* Disqus */
#disqus_thread {
  margin-top: 2em;
  max-width: 800px;
}
/* Footer at page bottom */
#footer {
  background: #000;
  background: linear-gradient(to bottom, #101010, #000);
  border-collapse: separate; /* to get box-shadow in IE9 and later */
  box-shadow: 0em -.2em 1em .4em #B5E4FC;
  text-align: center;
}
#credits {
  color: grey;
  display: inline-block;
  font-size: .7em;
  padding: 1em 1em 0em;
}
/* Archives page */
#archives {
  margin-bottom: 4em;
  max-width: 600px;
  padding: 2em 0em;
}
.archive-year {
  border-bottom: .14em dotted #7C618A;
  color: #3A194C;
  font-size: 2em;
  font-weight:bold;
  margin-bottom: .6em;
  text-align: right;
}
.archive-month, .archive-entry, .posttitle {
  font-family: Palatino,"Palatino Linotype",Georgia,serif;
  font-weight: bold;
}
.archive-month {
  color: #5D3043;
  font-size: 1.4em;
  font-style: italic;
  margin: 1em 0em;
}
.archive-entry {
  margin: .4em 0em;
}
.archive-day {
  color: #B5A6BD;
  font-size: 1.4em;
  margin: auto 1em auto 2em;
}
.archlink {
  color: #D31867;
  font-size: 1.3em;
}
.archlink:hover, .archlink:active {
  text-shadow: #F1F786 0em 0em .5em;
}
/* MEDIA QUERIES */
@media screen and (max-width:479px), screen and (max-device-width:479px), screen and (max-device-height:479px) and (orientation: landscape){
  #container {
    padding: 0em 1em;
  }
  .article > blockquote {
    margin-left: .5em;
  }
  .siteitem {
    margin: .5em .37em .5em 0em;
  }
}
