{% extends "base.html" %}

{% block content %}
<section class="content notfound">
  <p> <strong>La página que estás buscando no existe.</strong></p>
  <p>
    Lo siento, pero por ahora tienes que conformarte con esta parca página de error.
    En cualquier caso, aquí prima la sencillez.
  </p>
  <p>
    Puedes acudir al pato-buscador para intentar hallar lo que buscas, o bien
    revisar el <strong><a href="{{ SITEURL }}/archives/">archivo</a></strong> del sitio.
  </p>
</section>
{% endblock %}
